table {
    border: 0.1rem solid;
    width: 100%;
    
}

td {
    padding: 15px;
}

table.noSpacing {
    border-spacing: 0;
    border-collapse: collapse;    
}

.transactionTableHeader {
    font-weight: bolder;
    font-size: large;
}

.descriptionLimit {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tableRowEven:nth-child(2n+1) {
    background-color: lightgray;
    
}

.tableRowEven:nth-child(2n) {
    background-color: white;

}